body {
  background-color: #f2f3f7;
}

nav {
  background-color: #ffecb7 !important;
}

p {
  font-size: 1.2rem;
  font-weight: 400;
  color: #707070;
}

h1 {
  text-transform: uppercase;
  font-size: 3.6rem;
  font-weight: bold;
  color: #000000;
}

#about-bg {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  position: absolute;
}

#about-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container-1 {
  background-color: #f2f3f7;
  height: 400px;
  width: 100%;
  margin: 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-trapholt-text-1 {
  width: 1000px;
  margin-top: 5px;
}

#about-trapholt-bolder {
  font-weight: 450;
}

.about-container-2 {
  height: 580px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about-container-2 img {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-container-3 {
  background-color: #f2f3f7;
  height: 400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-trapholt-text-2 {
  width: 1000px;
}

#footer {
  background-color: #ffecb7;
  color: #000000;
}

#footer p {
  color: #000000;
}

#footer a {
  text-decoration: none;
  color: #000000;
}

section .container-fluid {
  width: 85vw;
}

@media only screen and (max-width: 990px) {
  body {
    max-width: 100vw;
    overflow-x: hidden;
  }
  html {
    max-width: 100vw;
    overflow-x: hidden;
  }
  header {
    height: 80vh;
  }
  #about-bg {
    height: 80vh;
  }
  .about-container-1 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about-container-1 h1 {
    font-size: 2.8rem;
    margin-top: 3vh;
  }
  .about-trapholt-text-1 {
    width: 80vw;
  }
  .about-container-2 {
    height: 70vh;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-container-3 {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .about-trapholt-text-2 {
    width: 80vw;
  }
  #footer .container-fluid {
    margin-right: 15vw;
  }
}
/*# sourceMappingURL=about.css.map */